body {
    background: #eee;
}

.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}

.logs {
    cursor: pointer;
    font-size: 9pt;
    height: 100%;
}

.title {
    height: 100%;
    font-size: 13pt;
}
.big-title {
    font-size: 13pt;
}
.no-display {
    display: none;
}
.hidden {
    visibility: hidden;
}
.full-width {
    width: 100%;
}

.icon {
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

.big-icon {
    font-size: 150px;
    margin: 5px 25px 20px 15px;
    text-align: center;
}
.small-icon {
    font-size: 100px;
    /* margin: 5px 20px 0 10px; */
}

.fab {
    cursor: pointer;
}

.checking.fab {
    color: orange;
}
.pass.fab {
    color: green;
}
.fail.fab {
    color: red;
}

.ratings i {
    color: green
}

.menu-extra {
    /* line-height: 40pt;
       height: 40pt; */
}
.menu-extra title {
    font-size: 16px
}
.menu-extra status {
    font-size: 15px
}
.big-status {
    font-size: 15px
}

.col-md-4 {
    margin-top: 15px
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    font-size: 30pt;
    padding-right: 5px;
}

#msg {
    font-weight: bold;
    font-size: 18pt;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.statusStyle {
    position: relative;
    display: none;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(35, 35, 35);
    background-clip: border-box;
    border-radius: .25rem;
    text-align: left;
    color: #fff;
}
